<div class="row marketing" ng-controller="CustomerCtrl as customers">
  <h3>Customer Detail</h3>
	<h4>{{ client.name }}</h4>
	<div>{{ client.address }}</div>
	<div>{{ client.address2 }}</div>
	<div>{{ client.city }}</div>
	<div>{{ client.province }}</div>
	<div>{{ client.country }}</div>

	<div ng-repeat="contact in client.contacts">
		<h5>{{ contact.name }}</h5>
		<div>{{ contact.email }}</div>
		<div>{{ contact.phone }}</div>
		<div>{{ contact.phone_ext }}</div>
	</div>

	<ul class="nav nav-pills">
		<li><a ui-sref="home" ng-click="main.setTab(1)">Documents</a></li>
		<li><a ui-sref="home" ng-click="main.setTab(1)">Orders</a></li>
		<li><a ui-sref="home" ng-click="main.setTab(1)">Invoices</a></li>
		<li><a ui-sref="home" ng-click="main.setTab(1)">Interactions</a></li>
	</ul>
	
	<div>This will have a list of Documents, Orders, Invoices and Interactions</div>

</div>